body {
    background-color: #FAFAFA;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.fundus-blue {
    color: #0447B8;
}

.fundus-blue-bg {
    background-color: #0447B8;
}

.fundus-orange {
    color: #FF9839;
}

.fundus-orange-bg {
    background-color: #FF9839;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 0;
}

.navbar-links a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out;
}

.navbar-links a:hover {
    background-color: rgb(4, 71, 184, 0.8);
    color: #fff;
}

.navbar-links a.active {
    background-color: #FF9839;
    color: #fff;
}

.navbar-links li {
    padding: 5px;
}

#botButton {
    font-size: 15px; 
    font-weight: bolder;
    display: block;
    background-color: #0447B8;
    color: #fff;
    padding: 13px;
    border-radius: 25px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 150px; 
    height: 30px; 
    text-align: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close-button {
    background-color: #0447B8;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.close-button:hover {
    background-color: #032f7d;
}
