{% extends "layout.html" %}

{% block title %}Challenge{% endblock %}

{% block style %}
    .form-card {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    input, button {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button {
        background-color: #0447B8;
        color: #fff;
        cursor: pointer;
    }

    #formLabel {
        text-align: center;
        font-size: 50px;
        color: #FF9839;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .blood-pressure-input {
        display: flex;
        align-items: center;
    }

    .bp-input {
        margin-right: 10px;
        width: 100px;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
        outline: none;
    }

    .blood-pressure-input p {
        display: flex;
        margin-bottom: 40px;
    }

    .bp-label {
        margin-right: 10px;
    }

    input {
        margin-bottom: 30px;
        align-items: center;
    }

    body {
        background-image: url('static/img/challenge-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }


{% endblock %}

{% block body %}
    <p id="formLabel">Challenge Yourself 🏆</p>
    <div class="form-card">
        <!-- Form content as before -->
        <form method="POST" enctype="multipart/form-data">
            <label for="num_steps">Number of Steps:</label>
            <input type="number" id="num_steps" name="num_steps">

            <label for="glucose_level">Glucose Level:</label>
            <input type="number" id="glucose_level" name="glucose_level" placeholder="(mmol/L)">

            <label for="water_intake">Water Intake:</label>
            <input type="number" id="water_intake" name="water_intake" placeholder="(Litres)">

            <label for="blood_pressure">Blood Pressure:</label>
            <div class="blood-pressure-input">
                <input type="text" id="dia" class="bp-input" placeholder="DIA (mmHg)">

                <p>/&nbsp;&nbsp;</p>

                <input type="text" id="sys" class="bp-input" placeholder="SYS (mmHg)">
                
                <p>/&nbsp;&nbsp;</p>

                <input type="text" id="pulse" class="bp-input" placeholder="Pulse (BPM)">
            </div>

            <label for="picture_of_feet">Picture of Food:</label>
            <input type="file" id="picture_of_feet" name="picture_of_feet" accept="image/*">

            <br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
