<!-- chat.html -->

{% extends 'layout.html' %}

{% block style %}
.center {
    text-align: center;
}

h1 {
    margin-top: 0;
}

#botImg {
    width: 300px;
}

.chat-input input{
    width: 500px;
    border: none;
    border-radius: 18px;
}

.chat-input {
    display: flex;
    left: 370px;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    bottom: 30px;
    width; 700px;
    text-align: center;
    margin-bottom: 5px;
}

.chat-input button:hover {
    background-color: orange;
}

#sendButton {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding: 0px;
    border: none;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#disclaimer {
    color: #999;
    font-size: 10px;
    position: absolute;
    left: 390px;
    bottom: 10px;
    margin-bottom: 0;
    margin-left: 80px;
}

#fixCenter {
    margin-left: 550px;
}

.prompt-card {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.prompt-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


{% endblock %}

{% block body %}
    <div class="center">
        <img src="{{ url_for('static', filename='samples/bot-chat.png') }}" id="botImg">
        <h1 class="fundus-blue">Hi there, how can I assist you?</h1>

         <!-- Suggested Prompts -->
         <div class="prompt-container">
            <div class="prompt-card">What does FundusAI stand for?</div>
            <div class="prompt-card">What is diabetes?</div>
            <div class="prompt-card">Does diabetes cause blindness?</div>
            <!-- Add more prompt cards as needed -->
        </div>

        <!--TODO: Make center positioning responsive, don't use margins-->
        <div id="fixCenter">
            <div class="chat-input">
                <input type="text" placeholder="Message FundusAI Assistant...">
                <button class="fundus-blue-bg center" id="sendButton"><img src="{{ url_for('static', filename='samples/send-icon.png') }}" style="width: 80%;"></button>
            </div>
            <footer id="disclaimer">FundusAI Assistant can make mistakes, make sure to double-check important information.</footer>
        </div>
    </div>
{% endblock %}

